<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@user.picture_url, width: 100) if @user.picture.present? %>
</p>

<p>
  <strong>Date joined:</strong>
  <%= @user.date_joined %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
